# *.plan
# **/*sas_plan
# *.txt
exercise_4/*.plan

*.sas
*.pdf
exercise_3/PANDA.jar
exercise_3/Domains
exercise_3/old_problems
exercise_5/build
exercise_5/install
exercise_5/log
exercise_5/src/planner/.vscode/
.vscode/
.vscode/*
*.groups
**/*sas_plan
**/output
**/*__pycache__*